<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form action="/reg" method="post">
        <input id="uname" name="uname" placeholder="enter name"/><br/>
        <input id="gmail" name="gmail" type="email" placeholder="enter email"/><br/>
        <input id="psw" name="psw" type="password" placeholder="enter password"/><br/>
        <button>Create account</button>
    </form>
    <p>Already have an account? <a href="/log">Login</a></p>
</body>
</html>